---
import "../styles/global.css";
import FloatingWhatsApp from "../components/FloatingWhatsApp.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#ffffff" />

    <link rel="icon" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <title>{title}</title>
  </head>

  <body>
    <slot />
    <FloatingWhatsApp />

    <script src="/scripts/mobile-menu.js" defer></script>
    <script src="/scripts/theme-toggle.js" defer></script>
  </body>
</html>
